body{
  margin: 0%;  
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1{
    color: #45b29a;
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 350%;
}

.head3{
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 45px;
    color: #00897d;
}


h2{
    color: #45b29a;
}

a{
    color: #067e64;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 1.2em;
}

a:hover{
    color: black;
}
h3{
    font-size: 2em; 
    color: #00897d;
    margin-bottom: 30px;
    padding-top: 20px ;
}

hr{
    border-style: dotted none none;
    border-width: 5px;
    height: 0;
    width: 5%;
    border-color: grey;
    margin: 70px auto 50px;
}

.lasth3{
    padding-bottom: 20px;
}

.line2{
    margin-top: 40px;
}
p{
    margin: 0 0 10px;
    line-height: 2;
}


.intro{
    width: 30%;
    margin: auto;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #ccf1ea;
    padding: 50px 0 20px; 
}
.propic{
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px black; 
}


.chilli{
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 50%;
}
.skill-row{
    width: 50%;
    margin: 0px auto 100px auto;
    text-align: left;
    display: inline-block;
    margin-bottom: 50px;
}

.skilpic{
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}


.gif{
    position: relative;
    left: 500px;
    bottom: 0;
}

.top{
    padding: 100px;
    background-color: #ccf1ea;
    position: relative;
    padding-top: 100px; 
}

.tcloud{
    position: absolute;
    right: 250px;
    top: 50px;
    transition: 1s ease-in-out;
}

.bcloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    transition: 1s ease-in-out;
}

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}

.foot{
    padding-top: 15px;
}

.butn {
    background: #7fd4ff;
    background-image: -webkit-linear-gradient(top, #7fd4ff, #2c70b8);
    background-image: -moz-linear-gradient(top, #7fd4ff, #2c70b8);
    background-image: -ms-linear-gradient(top, #7fd4ff, #2c70b8);
    background-image: -o-linear-gradient(top, #7fd4ff, #2c70b8);
    background-image: linear-gradient(to bottom, #7fd4ff, #2c70b8);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #62f5c4;
    background-image: -webkit-linear-gradient(top, #62f5c4, #239972);
    background-image: -moz-linear-gradient(top, #62f5c4, #239972);
    background-image: -ms-linear-gradient(top, #62f5c4, #239972);
    background-image: -o-linear-gradient(top, #62f5c4, #239972);
    background-image: linear-gradient( bottom, #62f5c4, #239972);
    text-decoration: none;
  }

  @media only screen and (max-width:360px) {
    /*For mobile phones:*/
   .mo{
       width: 100%;
   }
    
   .intro{
    width: 100%;   
    margin: auto;
}

.head3{
    margin-bottom: 50px;
    margin-top: 0;
    font-size: 170%;
    color: #00897d;
}
   .tcloud{
    position: absolute;
    right: 267px;
    top: 40px;
    width: 28%;
}

   .bcloud {
    position: absolute;
    left: 260px;
    bottom: 167px;
    width: 20%;
}

h1 {
    color: #2e9271;
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 136%;
    width: 125%;
    margin-inline-start: -19px;
    margin-inline-end: 0px;
}

.skilpic{
    width: 75%;
    float: left;
    margin-bottom: 30px;
    margin-left: 28px;
    margin-right: 28px;
    border-radius: 50%;
}
p{
    margin: 0 0 10px;
    line-height: 2;
    text-align: center;
}
.chilli{
    width: 75%;
    float: right;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 30px;
    padding-left: 0px;
    margin-bottom: 30px;
}
h2{
    color: #45b29a;
    text-align: center;
}

.lasth3{
    padding-bottom: 20px;
    width: 102%;
    font-size: 120%;
}

.low{
    width: 200%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    /* margin-right: 50px; */
    margin-inline-start: -68px;
    margin-inline-end: 0px;
}
}

/*#66BFBF